table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    margin: 50px auto auto;
    }


h1 {
    font-family: "Comic Sans MS";
    text-align: center;
}

.create {
    margin: 100px;
}